<div class="jumbotron">
  <h1>$client.getName()</h1>
  <h2>$stylist.getName()'s client</h2><br>
</div>

<div class="row">
<hr class="col-xs-6 col-xs-offset-3">
</div>

<br>

<div class="center">
  <a class="btn btn-primary" href="/Stylist/new">Add another Stylist</a>
  <a class="btn btn-primary" href="/Stylists">View List of Stylists</a>
  <a class="btn btn-primary" href="/Clients">View List of Clients</a>
</div>
