<h1 class="jumbotron">All Clients</h1>

<ul>
  #foreach ($client in $clients)
    <li><a class="btn btn-primary" href="/client/$client.getId()">$client.getName()</a></li><br>
  #end
</ul>

<div class="row">
  <hr class="col-xs-6 col-xs-offset-3">
</div>

<div class="center">
  <a class="btn btn-primary" href="/stylist/new">Add another Stylist</a>
  <a class="btn btn-primary" href="/stylists">View List of Stylists</a>
</div>
