<div class="row">
  <h1 class="jumbotron col-xs-12">Clients</h1>
</div>
<br>
<div>
  <div class="row">
    <h2><a class="jumbotron col-xs-12" href="/addStylist">Add A New Stylist</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron col-xs-12" href="/listStylists">View Stylists</a></h2>
  </div>
  <div class="row">
    <h2><a class="jumbotron col-xs-12" href="/listClients">View Clients</a></h2>
  </div>
</div>
